:root{
    --blue: #2F3C7E;
    --pink: #FBEAEB;
    --content-pink: #c7b1b3;
    --custom-font: 'Permanent Marker', cursive;
    }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    height: 100vw;
    width: 100vw;
    display: grid;
    grid-template: 1fr 14fr / 1fr 5fr;

    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
}


.sidebar{
    padding: 20px;
    display: grid;
    grid-row:1/3;
    grid-template-rows: minmax(20px, 90px) minmax(100px, 400px) 1fr;
    justify-content: start;
    
    color: white;
    background-color: var(--blue, blue);
}

.sidebar img{
    float: left;
    margin-right: 10px;
}

.logo img{
    height: clamp(40px, 8vw, 50px);
}

.logo{
    font-size: 35px;
}

.sidebar a{
    color: white;
    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
    text-decoration: underline;
}

.main-options > div, .additional-options > div{
    margin-top: 10px;
}



.header{
    grid-column:2/3;
    background-color: var(--pink, pink);
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
}

.search{
    background-color: var(--content-pink, grey);
    border-radius: 20px;
    height: 30px;
    margin-top: 25px;
    margin-left: 30px;
    justify-content: left;
}
.search img{
    
    margin-left: 20px;
    height: 25px;
}

.profile{
    justify-self: end;
    margin-right: 30px;
    margin-top: 20px;
    
}
.profile img{
    float: right;
    margin-left: 20px;
    height: 45px;
}

.pfp{
    border-radius: 50%;
}

.greetPfp{
    margin-left: 30px;
    border-radius: 50%;
    height: 70px;
    float: left;
    margin-right: 30px;
}

.smallText{
    font-size: 14px;
}

.actions{
    color: var(--pink, pink);
    margin-right: 30px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.actionButton{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    background-color: var(--blue, blue);
}


.main-content{
    grid-row:2/3;
    grid-column:2/3;
    background-color: var(--content-pink, grey);
    display: grid;
    grid-template: 1fr 1fr/3fr 2fr;
    gap: 20px;
}


.projects{
    margin-top: 20px;
    margin-left: 20px;
    grid-row:1/3;
    height: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 15px;
}
.project{
    position: relative;
    box-shadow: 5px 5px white;
    border-radius: 25px;
    height: 200px;
    background-color: var(--pink, pink);
}
.project > p, .project > span{
    margin-left: 40px;
    margin-top: 10px;
    width: 350px;
}

.project > p{
    font-size: 14px;
}

.project > img{
    position: absolute;
    top: 160px;
    right: 10px;
}


