:root{
    --blue: #2F3C7E;
    --pink: #FBEAEB;
    --content-pink: #c7b1b3;
    --custom-font: 'Permanent Marker', cursive;
    }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    height: 100vw;
    width: 100vw;
    display: grid;
    grid-template: 1fr 8fr / 1fr 5fr;

    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
}


.sidebar{
    padding: 20px;
    display: grid;
    grid-row:1/3;
    grid-template-rows: minmax(20px, 90px) minmax(100px, 400px) 1fr;
    justify-content: start;
    
    color: white;
    background-color: var(--blue, blue);
}

.sidebar img{
    float: left;
    margin-right: 10px;
}

.logo img{
    height: clamp(40px, 8vw, 50px);
}

.logo{
    font-size: 35px;
}

.sidebar a{
    color: white;
    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
    font-family: var(--custom-font, sans-serif);
    font-size: 24px;
    text-decoration: underline;
}

.main-options > div, .additional-options > div{
    margin-top: 10px;
}



.header{
    grid-column:2/3;
    background-color: var(--pink, pink);
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
}

.search{
    background-color: var(--content-pink, grey);
    border-radius: 20px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: left;
}
.search img{
    margin-left: 20px;
    height: 25px;
}

.profile{
    justify-self: end;
    margin-right: 30px;
    margin-top: 20px;
    
}
.profile img{
    float: right;
    margin-left: 20px;
    height: 45px;
}

.pfp{
    border-radius: 50%;
}


.main-content{
    grid-row:2/3;
    grid-column:2/3;
    background-color: var(--content-pink, grey);
}

